@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined&display=swap");
body.theme-dark {
  --primary-color: #596dc7;
  --secondary-color: #161735;
  --tertiary-color: #314e4b;
  --fourth-color: #818181;
  --primary-color-text: #fff;
  --secondary-color-text: #596dc7;
  --tertiary-color-text: #314e4b;
  --fourth-color-text: #878a8f;
  --fifth-color-text: #b0b0b0;
  --background-color: #101010;
  --background-color-light: rgb(28.75, 28.75, 28.75);
  background-color: var(--background-color);
  color: var(--primary-color-text);
  font-family: "Roboto", Arial, sans-serif;
}
body.theme-dark .t-primary {
  color: var(--primary-color-text);
}
body.theme-dark .t-secondary {
  color: var(--secondary-color-text);
}
body.theme-dark .t-tertiary {
  color: var(--tertiary-color-text);
}
body.theme-dark .t-fourth {
  color: var(--fourth-color-text);
}
body.theme-dark .t-fifth {
  color: var(--fifth-color-text);
}
body.theme-dark .bg-primary {
  background-color: var(--primary-color);
}
body.theme-dark .bg-secondary {
  background-color: var(--secondary-color);
}
body.theme-dark .bg-tertiary {
  background-color: var(--tertiary-color);
}
body.theme-dark .bg-fourth {
  background-color: var(--fourth-color);
}
body.theme-dark .bg-fifth {
  background-color: var(--fifth-color-text);
}
body.theme-dark .bg-main {
  background-color: var(--background-color);
}
body.theme-dark .bg-main-light {
  background-color: var(--background-color-light);
}
body.theme-dark .serif-text {
  font-family: "Roboto Serif", serif;
}
body.theme-dark h1.large {
  font-size: 2em;
  font-weight: 800;
  letter-spacing: -0.01em;
}
body.theme-dark h5 {
  font-family: "Helvetica Now Display", sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.15em;
}
body.theme-dark h6 {
  font-family: "Helvetica Now Display", sans-serif;
  font-size: 1rem;
  font-weight: 500;
}
body.theme-dark .wrapper {
  width: 100%;
  padding: 0 14px;
}
@media (min-width: 768px) and (min-height: 620px) {
  body.theme-dark .wrapper {
    padding: 0 30px;
  }
}
@media (min-width: 1280px) {
  body.theme-dark .wrapper {
    position: relative;
    padding: 0 40px;
  }
}
@media (min-width: 1480px) {
  body.theme-dark .wrapper {
    max-width: 1480px;
    margin: 0 auto;
  }
}

.bt-primary {
  --p-button-background: var(--primary-color);
  --p-button-color: var(--primary-color-text);
}

.bt-primary:hover {
  --p-button-background: var(var(--fourth-color));
}
