<div class="flex flex-col min-h-screen">
  <div class="flex-1">
    <div class="wrapper">
      <div class="home-page">
        <div class="home-top">
          <h5 class="t-fourth">{{ 'NAME' | translate }}</h5>

          <h1 class="t-primary text-4xl font-bold">
            {{"TITLE_01" | translate }} <span class="t-secondary">{{"TITLE_02" | translate }}</span>
          </h1>
          <div class="pt-6">
            <H3>{{"SUBTITLE" | translate }} <span class="t-secondary">{{ 'NAME' | translate }}</span>{{"SUBTITLE_01" |
              translate }}</H3>
          </div>

          <div class="pt-6">
            <a class="text-xl" routerLink="/projects">{{ 'PROJECTS' | translate }}</a>
            <span class="t-fourth px-4">{{ 'OR' | translate }}</span>
            <a class="text-xl" routerLink="/about">{{ 'ABOUT' | translate }}</a>
          </div>

        </div>


        <div class="home-middle">

        </div>

        <div class="home-bottom">

        </div>

      </div>
    </div>
  </div>

  <footer class="home-footer bg-main mt-12 px-2 py-10 rounded-t-lg">
    <hr class="t-fourth mx-6 my-4">
    <div class="grid grid-cols-1 md:grid-cols-4 gap-8 justify-center items-center">
      <!-- Contact -->
      <div class="ml-3">
        <h3 class="font-bold text-lg mb-2">{{"CONTACT_INFO" | translate }} <span class="block">{{"CONTACT_INFO_SUBTITLE"
            |
            translate}}&nbsp;—</span></h3>
        <p class="mb-2 text-sm t-fifth">
          {{"CONTACT_INFO_MESSAGE" | translate }}
        </p>
        <ul class="text-sm">
          <li>
            E-mail: <a class="text-primary underline"
              href="mailto:stanleyhigor1&#64;gmail.com" target="_blank" rel="noopener noreferrer">stanleyhigor1&#64;gmail.com</a>
          </li>
          <!-- <li>
              P: <span class="text-gray-700">+55 61 99999999</span>
            </li> -->
        </ul>
      </div>
      <!-- Latest Projects -->
      <div class="ml-3">
        <h3 class="font-bold text-lg mb-2">{{"LATEST_PROJECTS" | translate }} <span
            class="block">{{"LATEST_PROJECTS_SUBTITLE" | translate }}&nbsp;—</span></h3>
        <ul class="text-sm space-y-1">
          <li><a href="https://empregatransporte.sestsenat.org.br/" target="_blank" rel="noopener noreferrer" class="t-primary underline">Emprega Transporte
              SEST</a></li>
          <li><a href="https://sestsenat.org.br/home" target="_blank" rel="noopener noreferrer" class="t-primary underline">Sest Senat</a></li>
          <li><a href="https://www.youtube.com/" target="_blank" rel="noopener noreferrer" class="t-primary underline hidden">Youtube</a></li>
        </ul>
      </div>
      <!-- Availability -->
      <div class="ml-3">
        <h3 class="font-bold text-lg mb-2">{{"CURRENT_WORKING" | translate }} <span
            class="block">{{"CURRENT_WORKING_SUBTITLE" | translate }}&nbsp;—</span></h3>
        <p class="text-sm t-fifth">
          {{"CURRENT_WORKING_MESSAGE" | translate }}
        </p>
      </div>
      <!-- Social -->
      <div class="ml-3">
        <h3 class="font-bold text-lg mb-2">{{"FOLLOW_ME" | translate }} <span class="block">{{"FOLLOW_ME_SUBTITLE" |
            translate}}&nbsp;—</span></h3>
        <ul class="text-sm space-y-1">
          <li><a href="https://github.com/devyat009" class="text-primary underline" target="_blank" rel="noopener noreferrer">Github</a></li>
          <li><a href="https://www.linkedin.com/" class="text-primary underline" target="_blank" rel="noopener noreferrer">LinkedIn</a></li>
        </ul>
      </div>
    </div>
    <div class="mt-10 flex flex-col items-center text-xs">
      <p class="text-center">
        © 2025 {{ 'NAME' | translate}}<br>
        {{"MADE_WITH" | translate}} <span class="text-red-500">♥</span> {{"IN" | translate }} {{"CITY" | translate}},
        {{"COUNTRY" | translate}}.
      </p>
    </div>
  </footer>
</div>
