<div class="flex flex-col min-h-screen">
  <div class="flex-1">
    <div class="wrapper">
      <div class="home-page">
        <div class="home-top">
          <h5 class="t-fourth">{{ 'NAME' | translate }}</h5>

          <h1 class="t-primary text-4xl font-bold">
            {{"TITLE_01" | translate }} <span class="t-secondary">{{"TITLE_02" | translate }}</span>
          </h1>
          <div class="pt-6">
            <H3>{{"SUBTITLE" | translate }} <span class="t-secondary">{{ 'NAME' | translate }}</span>{{"SUBTITLE_01" |
              translate }}</H3>
          </div>

          <div class="pt-6">
            <a class="text-xl" routerLink="/projects">{{ 'PROJECTS' | translate }}</a>
            <span class="t-fourth px-4">{{ 'OR' | translate }}</span>
            <a class="text-xl" routerLink="/about">{{ 'ABOUT' | translate }}</a>
          </div>

        </div>


        <div class="home-middle mt-12">
          <h5 class="t-fourth">{{ 'LATEST_PROJECTS' | translate }}</h5>
          <h1 class="t-primary text-3xl font-bold">{{ 'LATEST_PROJECTS_SUBTITLE' | translate }}</h1>

          <div class="grid grid-cols-1 md:grid-cols-2 gap-4 justify-center items-stretch mt-6">
            <!-- Project Card 01 -->
            <div class="project-card group flex flex-col rounded-sm shadow-lg overflow-hidden bg-main-light min-h-[400px] max-h-[500px] relative">
              <div class="cover flex-1 w-full h-full flex flex-col justify-end">
                <img src="https://publicador.sestsenat.org.br/arquivos/4cb790ab-38d5-43f3-96b8-0f9db1b8fa51.png"
                  alt="Emprega Transporte" class="w-full h-full object-cover">
                <!-- Overlay de hover -->
                <div class="absolute inset-0 bg-black/70 flex flex-col justify-center items-start opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                  <div class="project-overlay-content pl-8">
                    <h1 class="text-white text-lg font-semibold mb-2">{{'PROJECTS_01_TITLE' | translate }}</h1>
                    <div class="text-white text-sm mb-4 pr-4 text-left">
                      {{'PROJECTS_01_DESCRIPTION' | translate }}
                    </div>
                    <a href="https://empregatransporte.com.br" target="_blank"
                      class="px-4 py-2 bg-primary-500 hover:bg-primary-600 text-white rounded transition">
                      {{'BUTTON_VISIT' | translate }}
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <!-- Project Card 02 -->
            <div
              class="project-card group flex flex-col rounded-sm shadow-lg overflow-hidden bg-main-light min-h-[400px] max-h-[500px] relative">
              <div class="cover flex-1 w-full h-full flex flex-col justify-end">
                <img src="assets/img/projects/portalsestsenat.png" alt="Portal SEST SENAT" class="w-full h-full object-cover">
                <!-- Overlay de hover -->
                <div
                  class="absolute inset-0 bg-black/70 flex flex-col justify-center items-start opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                  <div class="project-overlay-content pl-8">
                    <h1 class="text-white text-lg font-semibold mb-2">{{'PROJECTS_02_TITLE' | translate }}</h1>
                    <div class="text-white text-sm mb-4 pr-4 text-left">
                      {{'PROJECTS_02_DESCRIPTION' | translate }}
                    </div>
                    <a href="https://www.sestsenat.org.br" target="_blank"
                      class="px-4 py-2 bg-primary-500 hover:bg-primary-600 text-white rounded transition">
                      {{'BUTTON_VISIT' | translate }}
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <!--Project Card 03 -->
            <div class="project-card group flex flex-col rounded-sm shadow-lg overflow-hidden bg-main-light min-h-[400px] max-h-[500px] relative">
              <div class="cover flex-1 w-full h-full flex flex-col justify-end">
                <img src="https://raw.githubusercontent.com/devyat009/image-repo-for-my-repo/refs/heads/main/bus-tracker/mockups/busmapmockup.png"
                  alt="OnibusDf" class="w-full h-full object-contain">
                <!-- Overlay de hover -->
                <div class="absolute inset-0 bg-black/70 flex flex-col justify-center items-start opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                  <div class="project-overlay-content pl-8">
                    <h1 class="text-white text-lg font-semibold mb-2">{{'PROJECTS_BUS_TITLE' | translate }}</h1>
                    <div class="text-white text-sm mb-4 pr-4 text-left">
                      {{'PROJECTS_BUS_DESCRIPTION' | translate }}
                    </div>
                    <a href="https://github.com/devyat009/onibus-df-app" target="_blank"
                      class="px-4 py-2 bg-primary-500 hover:bg-primary-600 text-white rounded transition">
                      {{'BUTTON_VISIT' | translate }}
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="home-bottom">

        </div>

      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
