// Theme import
@use 'src/theme-light.scss';
@use 'src/theme-dark.scss';

// Home Page
.home-page {
  .home-top {
    padding-top: 140px;

    a {
      color: var(--primary-color-text);
      font-weight: 700;
    }
    a:hover {
      border-bottom: 1px solid var(--secondary-color-text);
      color: var(--secondary-color-text);
      scale: 1.1;
    }
  }
}
.home-footer {
  a {
      color: var(--primary-color-text);
      font-weight: 700;
  }

  a:hover {
    color: var(--secondary-color-text);
    scale: 1.1;
  }
}

.project-overlay-content {
  opacity: 0;
  transform: translateX(-40px);
  transition: opacity 0.4s cubic-bezier(.4,0,.2,1), transform 0.4s cubic-bezier(.4,0,.2,1);
}

.group:hover .project-overlay-content {
  opacity: 1;
  transform: translateX(0);
}
