// Theme import
@use 'src/theme-light.scss';
@use 'src/theme-dark.scss';

// Projects Page
.projects-page {
  .projects-top {
    padding-top: 140px;

    a {
      color: var(--primary-color-text);
      font-weight: 700;
    }
    a:hover {
      border-bottom: 1px solid var(--secondary-color-text);
      color: var(--secondary-color-text);
      scale: 1.1;
    }

  }
}

