<main>
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <app-page-header></app-page-header>
    <div class="content-container col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"
      style="width: 95%; align-content: center; padding-left: 5%; ">
      <h2>About Me:</h2>
      <p>Hello! I'm a student in System Development. As bilingual, I can speak in English and Brazilian Portuguese (my
        mother tongue). I have some knowledge in programming in Java, Python, and UX Design.</p>

      <h4>Language and Tools:</h4>

      <h5>Skills:</h5>
      <table class="skills-table">
        <tbody>
          <tr>
            <td class="border"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg"
                width="40" height="40" alt="Python" /></td>
            <td class="border"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-original.svg"
                width="40" height="40" alt="Java" /></td>
            <td class="border"><img
                src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" width="40"
                height="40" alt="JavaScript" /></td>
            <td class="border"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg"
                width="40" height="40" alt="HTML" /></td>
            <td class="border"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg"
                width="40" height="40" alt="CSS" /></td>
          </tr>
        </tbody>
      </table>

      <h5>Current Studying:</h5>
      <table>
        <tbody>
          <tr>
            <td class="border">
              <div style="display: flex; justify-content: center;"><img
                  src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mysql/mysql-original.svg" width="40"
                  height="40" alt="MySQL" /></div>
            </td>
            <td class="border">
              <div style="display: flex; justify-content: center;"><img
                  src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/csharp/csharp-original.svg" width="40"
                  height="40" alt="C#" /></div>
            </td>
          </tr>
        </tbody>
      </table>

      <h5>Operating System:</h5>
      <table>
        <tbody>
          <tr>
            <td class="border">
              <div class="os-img"><img src="https://img.icons8.com/color/48/000000/windows-11.png" alt="Windows 11" />
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <app-page-footer class="app-page-footer"></app-page-footer>
  </div>
</main>