@import "../node_modules/bootstrap/scss/bootstrap.scss";

$color-white: #ffffff;
$color-black: #000000;
$low-transparency: rgba(0, 0, 0, 0.1);
$midnight-blue: #191970;

html,
body {
    height: 100%;
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0;
    display: flex;
    flex-direction: column;

    min-width: 320px;
    min-height: 480px;

    @media (min-width: 480px) {}
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.app-page-footer {
    margin-top: auto;
    align-self: flex-end;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.page-footer {
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 0;
    width: 100%;
    height: auto;
    line-height: 60px;
    background-color: $midnight-blue;
    align-items: center;
    align-content: center;
    margin-top: auto;
    box-shadow: inset 0 0 220px rgba(0, 0, 0, 0.8);
    border-radius: 25px 25px 0px 0px;

    @media (max-width: 1080px) {
        max-height: auto;
        overflow-y: auto;
        padding: 10px 20px;

        .flex {
            flex-direction: column;
        }
    }

    .flex {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
    }

    .center-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        flex-direction: initial;
    }

    p {
        color: $color-white;
        margin: 5px;
        text-align: center;
    }

    .bi-envelope {
        margin-right: 3px;
    }

    .bi-github {
        font-size: 25px;
        margin-right: 10px;
    }

    a {
        color: $color-white;
        text-decoration: none;
        margin: 5px;
    }

    svg {
        margin-left: 5px;
    }

    & p {
        color: $color-white;
        margin-left: 10px;
    }
}

.copyright {
    margin-top: 10px;
    text-align: center;
    color: $color-white;
}

.page-header {
    display: flex;
    position: relative;
    top: 0;
    width: 100%;
    height: 60px;
    //line-height: 60px;
    background-color: $midnight-blue;
    box-shadow: inset 0 0 190px rgba(0, 0, 0, 0.6);
    border-radius: 0px 0px 25px 25px;

    align-items: center;
    align-content: center;
    justify-content: center;



    & p {
        color: $color-white;
        margin-left: 10px;
    }

    .retangle {
        width: 20%;
        color: $color-black;
        height: 45px;
        background-color: $color-white;
        border-radius: 10px;
        gap: 5px;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
        align-content: center;
        align-items: center;

        @media (max-width: 1080px) {
            // max-height: auto;
            // overflow-y: auto;
            // padding: 10px 20px;
            min-width: 25%;
            // .flex {
            //     flex-direction: column;
            // }
        }


        .bi-house,
        .bi-briefcase-fill {
            cursor: pointer;
        }

        .svg-cursor {
            cursor: pointer;
            // margin-left: 10px;
            height: 35px;
            width: 35px;
            // display: flex;
            // justify-content: center;
            // align-items: center;
            // width: 35px;  /* Set fixed size */
            // height: 35px; /* Fixed size for the circle */
            // border-radius: 50%; /* Round shape */
            //transition: background-color 0.3s, color 0.3s; /* Smooth transition */
        }

        .svg-cursor:active {
            background-color: $low-transparency;
            /* Round background */
            border-radius: 100%;
            /* Make the background circular */
            height: 35px;
            width: 35px;
        }

        .svg-cursor.selected i {
            color: $color-white;
            background-color: $low-transparency;
            /* Change icon color */
        }

        .svg-cursor.selected {
            background-color: $low-transparency;
            /* Black background when selected */
            border-radius: 100%;
            /* Round shape */
            color: $color-white;
            /* White icon when selected */
            height: 35px;
            width: 35px;
        }
    }
}


.flex {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.center-content {
    align-content: center;
    justify-content: center;
    align-items: center;
}

.content-container {
    padding-top: 60px;
    padding-bottom: 60px;
    overflow-y: auto;
    max-height: calc(100vh - 120px);
}

.pad-10 {
    padding: 10px;
}