@use "sass:color";
// Importing Google Material Symbols Icons
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined&display=swap');

body.theme-light {
  // Colors palette
  --primary-color: #596dc7; //#596dc7
  --secondary-color: #161735; //#161735
  --tertiary-color: #379186; //#f0f0f0
  --fourth-color: #e0e0e0;

  // Text colors palette
  --primary-color-text: #000;
  --secondary-color-text: #596dc7;
  --tertiary-color-text: #379186;
  --fourth-color-text: #878a8f;

  // Main background color
  --background-color: #ffffff;
  --background-color-light: #dddddd;

  background-color: var(--background-color);
  color: var(--primary-color-text);

  // Global Text Variables
  .t-primary {
    color: var(--primary-color-text);
  }
  .t-secondary {
    color: var(--secondary-color-text);
  }
  .t-tertiary {
    color: var(--tertiary-color-text);
  }
  .t-fourth {
    color: var(--fourth-color-text);
  }

  // Global Background Variables
  .bg-primary {
    background-color: var(--primary-color);
  }

  .bg-secondary {
    background-color: var(--secondary-color);
  }

  .bg-tertiary {
    background-color: var(--tertiary-color);
  }

  .bg-main {
    background-color: var(--background-color);
  }

  .bg-main-light {
    background-color: var(--background-color);
  }


  // Text Variables for specific elements
  h1.large {
    // font-family: "Helvetica Now Display DW",sans-serif;
    font-weight: 800;
    font-size: 2rem;
    letter-spacing: -.01em;
  }

  h5 {
    font-family: 'Helvetica Now Display DW', sans-serif;
    font-size: 1.25rem; // 20px
    font-weight: 500;
    line-height: 1.5;
  }
  h6 {
    font-family: 'Helvetica Now Display DW', sans-serif;
    font-size: 1rem;
    font-weight: 500;
  }


  // Spacing Wrapper
  .wrapper {
    width:100%;
    padding:0 14px
  }
  @media (min-width:768px) and (min-height:620px) {
    .wrapper {
      padding:0 30px
    }
  }
  @media (min-width:1280px) {
    .wrapper {
      position:relative;
      padding:0 40px
    }
  }
  @media (min-width:1480px) {
    .wrapper {
      max-width:1480px;
      margin:0 auto;
    }
  }

}
  // PrimeNg Modules

  //ToggleButton
  .p-togglebutton {
    --p-togglebutton-background: #f0f0f0;
    --p-togglebutton-checked-background: #596dc7;
    --p-togglebutton-color: #161735;
    --p-togglebutton-checked-color: #fff;
    --p-togglebutton-border-radius: 8px;
    --p-togglebutton-content-padding: 0.5rem;
  }
  .p-togglebutton:hover {
    --p-togglebutton-background: #e0e0e0;
  }

  .bt-primary {
    --p-button-background: var(--primary-color);
    --p-button-color: var(--primary-color-text);
    --p-button-border-radius: 8px;
  }
  .bt-primary:hover {
    --p-button-background: var(--fourth-color);
  }

