@use "sass:color";
// Importing Google Material Symbols Icons
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined&display=swap');

body.theme-dark {

  // Colors palette
  --primary-color: #596dc7; //#596dc7
  --secondary-color: #161735; //#161735
  --tertiary-color: #314e4b;
  --fourth-color: #818181;

  // Text colors palette
  --primary-color-text: #fff;
  --secondary-color-text: #84da7d;
  --tertiary-color-text: #314e4b;
  --fourth-color-text: #878a8f;

  // Main background color
  --background-color: #161616;
  --background-color-light: #222222;

  background-color: var(--background-color);
  color: var(--primary-color-text);
  font-family: 'Roboto', Arial, sans-serif;

  // Global Text Variables
  .t-primary {
    color: var(--primary-color-text);
  }
  .t-secondary {
    color: var(--secondary-color-text);
  }
  .t-tertiary {
    color: var(--tertiary-color-text);
  }
  .t-fourth {
    color: var(--fourth-color-text);
  }

  // Global background Variables
  .bg-primary {
    background-color: var(--primary-color);
  }

  .bg-secondary {
    background-color: var(--secondary-color);
  }

  .bg-tertiary {
    background-color: var(--tertiary-color);
  }

  .bg-main {
    background-color: var(--background-color);
  }
  .bg-main-light {
    background-color: var(--background-color-light);
  }

  // Text Variables for specific elements
  .serif-text {
  font-family: 'Roboto Serif', serif;
  }

  h1.large {
    //font-family: "Helvetica Now Display DW",sans-serif;
    font-size: 2em;
    font-weight: 800;
    letter-spacing: -.01em;
  }

  h5 {
    font-family: 'Helvetica Now Display', sans-serif;
    font-size: 1.25rem; // 20px
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.15em;
  }
  h6 {
    font-family: 'Helvetica Now Display', sans-serif;
    font-size: 1rem;
    font-weight: 500;
  }

  // Spacing Wrapper
  .wrapper {
    width:100%;
    padding:0 14px
  }
  @media (min-width:768px) and (min-height:620px) {
    .wrapper {
      padding:0 30px
    }
  }
  @media (min-width:1280px) {
    .wrapper {
      position:relative;
      padding:0 40px
    }
  }
  @media (min-width:1480px) {
    .wrapper {
      max-width:1480px;
      margin:0 auto;
    }
  }
}

  // PrimeNg Modules

  //Primary Button
  .bt-primary {
    --p-button-background: var(--primary-color);
    --p-button-color: var(--primary-color-text);
  }
  .bt-primary:hover {
    --p-button-background: var(var(--fourth-color));
  }
