/* Tailwind base styles */
//@use "tailwindcss";



/* Custom Dark Theme Overrides */
$primary-color: #333333;
$primary-color-text: #fff;
$background-color: #1A1A1A;

body {
  background-color: $background-color;
  color: $primary-color-text;
}

