@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined&display=swap");
body.theme-dark {
  background-color: #161616;
  color: #fff;
}

.t-primary {
  color: #fff;
}

.t-secondary {
  color: #596dc7;
}

.t-tertiary {
  color: #314e4b;
}

.bg-primary {
  background-color: #596dc7;
}

.bg-secondary {
  background-color: #161735;
}

.bg-tertiary {
  background-color: #314e4b;
}
